.banner{
   /*  background-image: '../../../assets/banner-8.jpg'; */
   background-image: url('../../../assets/banner-8.jpg');
   
   width: 1148px;
   height: 650px;
 
}

.fix-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  
}
.image-fix{
    width: 430px;
    height: 400px;
    margin-top: 110px;
    margin-left: 149px;
    
}
.top-text{
    font-size: 45px;
    font-weight: 700;
  
    margin-left: 30px;
}
.peragraph{
    margin-left: 30px;
}

